body {
	font-family: Arial;
}

#navigation {
	position: absolute;
	left: 0;
	top: 25%;
	width: 100%;
	text-align: center;
}

header {
	font-size: 3em;
	text-align: left;
	margin-top: 10px;
	margin-left: 20px;
}

nav {
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #8A9B68;
}

form {
	font-family: monospace;
}

select, input, button {
	font-family: monospace;
	font-weight: bold;
	font-size: 1.5em;
	border-style: none;
	border-width: 3px;
	border-color: #797D81;
	border-radius: 10px;
	padding: 16px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

select {
    cursor: pointer;
}

main {
	position: static;
	text-align: left;
}

#status {
	margin-top: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
}

#output-body {
	margin-top: 20px;
	margin-left: 15%;
	margin-bottom: 4rem;
	text-align: left;
	font-family: monospace;
	white-space: pre;
}

footer {
	bottom: 0;
	right: 0;
	left: 0;
	position: fixed;
	text-align: center;
	background-color: #D5DDBC;
	padding: 1rem;
	opacity: 0.5;
}
